<section class="reassurance__section">
    <div class="reassurance__item">
        <div class="reassurance__picto">
            <svg width="117px" height="117px" viewBox="0 0 117 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>picto-free</title>
                <defs>
                    <polygon id="path-1" points="0 0 50 0 50 46 0 46"></polygon>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop-HD" transform="translate(-243.000000, -834.000000)">
                        <g id="reassurance" transform="translate(191.000000, 816.000000)">
                            <g id="1" transform="translate(0.000000, 18.000000)">
                                <g id="picto-free" transform="translate(52.000000, 0.000000)">
                                    <circle id="Oval" fill="#FFFFFF" cx="58.5" cy="58.5" r="58.5"></circle>
                                    <g id="Group-3" transform="translate(34.000000, 33.000000)">
                                        <mask id="mask-2" fill="white">
                                            <use xlink:href="#path-1"></use>
                                        </mask>
                                        <g id="Clip-2"></g>
                                        <path d="M46.4739069,39.1114575 L42.4541608,39.1114575 C41.7489422,37.1433025 39.8448519,35.7374775 37.5881523,35.7374775 L37.3765867,35.7374775 L37.3765867,20.9060237 L41.3963329,20.9060237 L46.4739069,31.4497112 C46.4739069,31.4497112 46.4739069,39.1114575 46.4739069,39.1114575 L46.4739069,39.1114575 Z M37.5881523,42.4854375 C36.6713681,42.4854375 35.9661495,41.782525 35.9661495,40.8687387 C35.9661495,39.9549525 36.6713681,39.25204 37.5881523,39.25204 C38.5049365,39.25204 39.2101551,39.9549525 39.2101551,40.8687387 C39.2101551,41.782525 38.5049365,42.4854375 37.5881523,42.4854375 L37.5881523,42.4854375 Z M10.2961918,42.4854375 C9.37940762,42.4854375 8.674189,41.782525 8.674189,40.8687387 C8.674189,39.9549525 9.37940762,39.25204 10.2961918,39.25204 C11.212976,39.25204 11.9181946,39.9549525 11.9181946,40.8687387 C11.9181946,41.782525 11.212976,42.4854375 10.2961918,42.4854375 L10.2961918,42.4854375 Z M14.1043724,27.8648574 L21.0155148,27.8648574 L21.0155148,15.9153449 L14.1043724,15.9153449 L14.1043724,27.8648574 Z M3.59661495,15.9153449 L10.5077574,15.9153449 L10.5077574,27.8648574 L3.59661495,27.8648574 C3.59661495,27.8648574 3.59661495,15.9153449 3.59661495,15.9153449 L3.59661495,15.9153449 Z M3.66713681,12.4007824 L10.5782793,12.4007824 L10.5782793,10.5029186 L3.66713681,10.5029186 L3.66713681,12.4007824 Z M9.02679831,3.61437609 C9.30888575,3.54408484 9.66149506,3.47379359 9.94358251,3.61437609 C10.0141044,3.68466734 10.5782793,4.17670609 10.5782793,6.07456985 C8.88575458,5.16078359 8.674189,4.45787109 8.674189,4.31728859 C8.60366714,4.10641484 8.88575458,3.75495859 9.02679831,3.61437609 L9.02679831,3.61437609 Z M14.7390691,3.61437609 C14.809591,3.54408484 15.0211566,3.47379359 15.1622003,3.47379359 C15.303244,3.47379359 15.5148096,3.47379359 15.6558533,3.54408484 C15.8674189,3.75495859 16.0789845,4.03612359 16.0084626,4.31728859 C16.0084626,4.38757984 15.796897,5.09049234 14.1043724,6.07456985 C14.1043724,4.17670609 14.6685472,3.68466734 14.7390691,3.61437609 L14.7390691,3.61437609 Z M14.1043724,12.4007824 L21.0155148,12.4007824 L21.0155148,10.5029186 L14.1043724,10.5029186 L14.1043724,12.4007824 Z M49.7884344,30.3250512 L44.0761636,18.4458299 C43.7940762,17.8132086 43.1593794,17.4617524 42.4541608,17.4617524 L37.3060649,17.4617524 L37.3060649,12.1196174 C37.3060649,11.1355399 36.5303244,10.3623361 35.5430183,10.3623361 L24.5416079,10.3623361 L24.5416079,8.74563736 C24.5416079,7.76155985 23.7658674,6.9883561 22.7785614,6.9883561 L18.5472496,6.9883561 C19.0409027,6.35573485 19.393512,5.65282235 19.4640339,4.87961859 C19.8166432,2.41942483 17.842031,0.802726078 17.5599436,0.662143578 C17.4894217,0.591852327 17.348378,0.521561077 17.2073343,0.451269827 C16.9252468,0.310687326 14.5980254,-0.673390178 12.5528914,0.802726078 C12.4118477,0.873017328 12.3413258,1.01359983 12.2708039,1.08389108 C12.2002821,1.01359983 12.0592384,0.873017328 11.9887165,0.802726078 C9.94358251,-0.673390178 7.61636107,0.380978576 7.33427362,0.451269827 C7.1932299,0.521561077 7.12270804,0.591852327 6.98166432,0.662143578 C6.77009873,0.802726078 4.72496474,2.41942483 5.07757405,4.87961859 C5.21861777,5.65282235 5.50070522,6.2854436 5.99435825,6.9883561 L1.76304654,6.9883561 C0.77574048,6.9883561 0,7.76155985 0,8.74563736 L0,29.6221387 C0,30.6062162 0.77574048,31.3794199 1.76304654,31.3794199 L22.7080395,31.3794199 C23.6953456,31.3794199 24.471086,30.6062162 24.471086,29.6221387 L24.471086,13.8768986 L33.7094499,13.8768986 L33.7094499,37.3541762 C33.2157969,37.846215 32.8631876,38.4788362 32.5811001,39.1114575 L15.1622003,39.1114575 C14.4569817,37.1433025 12.5528914,35.7374775 10.2961918,35.7374775 C7.47531735,35.7374775 5.14809591,38.0570887 5.14809591,40.8687387 C5.14809591,43.6803887 7.47531735,46 10.2961918,46 C12.5528914,46 14.4569817,44.594175 15.1622003,42.62602 L32.7221439,42.62602 C33.4273625,44.594175 35.3314528,46 37.5881523,46 C39.8448519,46 41.7489422,44.594175 42.4541608,42.62602 L48.2369535,42.62602 C49.2242595,42.62602 50,41.8528162 50,40.8687387 L50,31.0982549 C50,30.8170899 49.9294781,30.5359249 49.7884344,30.3250512 L49.7884344,30.3250512 Z" id="Fill-1" fill="#6469A8" mask="url(#mask-2)"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="reassurance__caption">
            <p class="reassurance__main_caption">Livraison gratuite</p>
        </div>
    </div>
    <div class="reassurance__divider"></div> 
    <div class="reassurance__item">
        <div class="reassurance__picto">
            <svg width="117px" height="117px" viewBox="0 0 117 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>picto-fast</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop-HD" transform="translate(-661.000000, -834.000000)">
                        <g id="reassurance" transform="translate(191.000000, 816.000000)">
                            <g id="1-copy" transform="translate(416.000000, 18.000000)">
                                <g id="picto-fast" transform="translate(54.000000, 0.000000)">
                                    <circle id="Oval" fill="#FFFFFF" cx="58.5" cy="58.5" r="58.5"></circle>
                                    <g id="Group-9" transform="translate(22.000000, 35.000000)" fill="#6469A8">
                                        <path d="M43.4905263,0.106024096 C43.9073684,-0.0353413655 44.2547368,-0.0353413655 44.6021053,0.106024096 L44.6021053,0.106024096 L64.8189474,6.82088353 C65.5136842,7.10361446 66,7.73975904 66,8.51726908 L66,8.51726908 L66,35.4473896 C66,36.2248996 65.5136842,36.9317269 64.8189474,37.1437751 L64.8189474,37.1437751 L44.6021053,43.9293173 C44.3936842,44 44.2547368,44 44.0463158,44 C43.8378947,44 43.6989474,44 43.4905263,43.9293173 L43.4905263,43.9293173 L23.2736842,37.2144578 C22.5789474,36.9317269 22.0926316,36.2955823 22.0926316,35.5180723 L22.0926316,35.5180723 L22.0926316,8.51726908 C22.0926316,7.73975904 22.5789474,7.03293173 23.2736842,6.82088353 L23.2736842,6.82088353 Z M62.5263158,10.9204819 L45.7831579,16.5044177 L45.7831579,39.8297189 L52.4526316,37.6385542 L52.4526316,28.8032129 C52.4526316,27.8136546 53.1473684,27.0361446 54.12,27.0361446 C55.0926316,27.0361446 55.8568421,27.8136546 55.8568421,28.8032129 L55.8568421,28.8032129 L55.8568421,36.4369478 L62.5263158,34.2457831 L62.5263158,10.9204819 Z M25.5663158,10.9204819 L25.5663158,34.2457831 L42.3094737,39.8297189 L42.3789474,39.8297189 L42.3789474,16.5044177 L35.7094737,14.313253 L35.7094737,26.3293173 C35.7094737,27.3188755 34.9452632,28.0963855 33.9726316,28.0963855 C33,28.0963855 32.2357895,27.3188755 32.2357895,26.3293173 L32.2357895,26.3293173 L32.2357895,13.1116466 L25.5663158,10.9204819 Z M14.0336842,30.075502 C14.9368421,30.075502 15.7705263,30.853012 15.7705263,31.8425703 C15.7705263,32.8321285 15.0063158,33.6096386 14.0336842,33.6096386 L14.0336842,33.6096386 L1.73684211,33.6096386 C0.764210526,33.6096386 2.93098879e-14,32.8321285 2.93098879e-14,31.8425703 C2.93098879e-14,30.853012 0.764210526,30.075502 1.73684211,30.075502 L1.73684211,30.075502 Z M14.0336842,20.2506024 C14.9368421,20.2506024 15.7705263,21.0281124 15.7705263,22.0176707 C15.7705263,23.0072289 15.0063158,23.784739 14.0336842,23.784739 L14.0336842,23.784739 L1.73684211,23.784739 C0.764210526,23.784739 2.93098879e-14,23.0072289 2.93098879e-14,22.0176707 C2.93098879e-14,21.0281124 0.764210526,20.2506024 1.73684211,20.2506024 L1.73684211,20.2506024 Z M14.0336842,10.4257028 C14.9368421,10.4257028 15.7010526,11.2032129 15.7705263,12.1927711 C15.7705263,13.1823293 15.0063158,13.9598394 14.0336842,13.9598394 L14.0336842,13.9598394 L1.73684211,13.9598394 C0.764210526,13.9598394 2.93098879e-14,13.1823293 2.93098879e-14,12.1927711 C2.93098879e-14,11.2032129 0.764210526,10.4257028 1.73684211,10.4257028 L1.73684211,10.4257028 Z M44.0463158,3.64016064 L29.3873684,8.51726908 L34.0421053,10.0722892 L41.4757895,7.31566265 C42.3789474,7.03293173 43.3515789,7.45702811 43.6989474,8.37590361 C44.0463158,9.29477912 43.56,10.2843373 42.6568421,10.637751 L42.6568421,10.637751 L39.3221053,11.8393574 L44.0463158,13.3943775 L58.7052632,8.51726908 L44.0463158,3.64016064 Z" id="Combined-Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="reassurance__caption">
            <p class="reassurance__main_caption">Expédition rapide</p>
        </div>
    </div>
    <div class="reassurance__divider"></div>   
    <div class="reassurance__item">
        <div class="reassurance__picto">
            <svg width="117px" height="117px" viewBox="0 0 117 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>picto-refund</title>
                <defs>
                    <polygon id="path-1" points="0 0 45 0 45 45 0 45"></polygon>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop-HD" transform="translate(-1084.000000, -834.000000)">
                        <g id="reassurance" transform="translate(191.000000, 816.000000)">
                            <g id="1-copy-2" transform="translate(839.000000, 18.000000)">
                                <g id="picto-refund" transform="translate(54.000000, 0.000000)">
                                    <circle id="Oval" fill="#FFFFFF" cx="58.5" cy="58.5" r="58.5"></circle>
                                    <g id="Group-3" transform="translate(35.000000, 36.000000)">
                                        <mask id="mask-2" fill="white">
                                            <use xlink:href="#path-1"></use>
                                        </mask>
                                        <g id="Clip-2"></g>
                                        <path d="M30.6198153,30.6175781 L30.6198153,14.6374645 L27.4237926,14.6374645 L27.4237926,21.0295099 C27.4253906,21.5824219 27.1409446,22.0953835 26.6727273,22.3878196 C26.4186435,22.5460227 26.1246094,22.6291193 25.8257813,22.6275213 C25.5748935,22.6259233 25.3287997,22.5651989 25.1066761,22.4517401 L22.6297585,21.2212713 L20.1528409,22.4517401 C19.3650213,22.8496449 18.4030185,22.5316406 18.0067116,21.743821 C17.8948509,21.5216974 17.8357244,21.2772017 17.8357244,21.0295099 L17.8357244,14.6374645 L14.6397017,14.6374645 L14.6397017,30.6175781 L30.6198153,30.6175781 Z M21.0317472,14.6374645 L21.0317472,18.4407315 L21.9106534,18.0092685 C22.3628906,17.7807528 22.8966264,17.7807528 23.3488636,18.0092685 L24.2277699,18.4407315 L24.2277699,14.6374645 L21.0317472,14.6374645 Z M33.8158381,30.6175781 C33.8158381,32.3833807 32.3856179,33.8136009 30.6198153,33.8136009 L14.6397017,33.8136009 C12.8738991,33.8136009 11.443679,32.3833807 11.443679,30.6175781 L11.443679,14.6374645 C11.443679,12.8716619 12.8738991,11.4414418 14.6397017,11.4414418 L30.6198153,11.4414418 C32.3856179,11.4414418 33.8158381,12.8716619 33.8158381,14.6374645 L33.8158381,30.6175781 Z M41.8058949,38.6076349 C41.8058949,39.4897372 41.0899858,40.2056463 40.2078835,40.2056463 L35.4138494,40.2056463 C34.5317472,40.2056463 33.8158381,39.4897372 33.8158381,38.6076349 L33.8158381,33.8136009 C33.8158381,32.9314986 34.5317472,32.2155895 35.4138494,32.2155895 C36.2959517,32.2155895 37.0118608,32.9314986 37.0118608,33.8136009 L37.0118608,35.235831 C40.1008168,31.7617543 41.8074929,27.2761364 41.8058949,22.6275213 C41.8106889,12.0375 33.2293679,3.44659091 22.6393466,3.44179688 C12.0493253,3.43700284 3.45841619,12.0183239 3.45362216,22.6083452 C3.44882813,33.1999645 12.0301491,41.7892756 22.6201705,41.7940696 C24.1143111,41.7956676 25.6020597,41.6214844 27.05625,41.2763139 C27.896804,41.00625 28.7964844,41.4680753 29.0665483,42.3070313 C29.3382102,43.1475852 28.8763849,44.0472656 28.035831,44.3189276 C27.9559304,44.3444957 27.8744318,44.3636719 27.7913352,44.376456 C26.1022372,44.7887429 24.3683949,44.9980824 22.6297585,45.0000652 C10.2036222,45.0715909 0.0722301136,35.0568537 -6.52485077e-05,22.6291193 C-0.0715909091,10.202983 9.94314631,0.0715909091 22.3708807,-0.000687589613 C34.797017,-0.0706321023 44.9284091,9.94410511 45.0006815,22.3702415 C45.0306818,27.7251776 43.1498224,32.9171165 39.6965199,37.0096236 L40.2078835,37.0096236 C41.0899858,37.0096236 41.8058949,37.7255327 41.8058949,38.6076349 L41.8058949,38.6076349 Z" id="Fill-1" fill="#6469A8" mask="url(#mask-2)"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div class="reassurance__caption">
            <p class="reassurance__main_caption">Satisfait ou remboursé</p>
        </div>
    </div>      
</section>

{% schema %}
{
  "name": {
    "fr": "Reassurance",
    "en": "Reassurance"
  }
}
{% endschema %}